<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Przykładowa Strona</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Przykładowa Strona</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Strona główna</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ekstrakcja_opinii.html">Ekstrakcja opinii</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lista produktów</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">O autorze</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
        <h2>Lista produktów</h2>
        <ul class="list-group">
            <li>
                
            </li>
        </ul>
    </div>
  </div>
</body>

</html>